body {
    background-image: url("background-black-and-white-blackboard-745365.jpg");
    /*  Photo by Miguel Á. Padriñán from Pexels*/
    width: 100vh;
    max-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

}

#time {
    font-size: 5rem;
    color: white;
    margin-left: 100%;
}